<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAX Q&A UK</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="app.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="5"
    class="scrollspy-example without_bg_images">

    <!-- navbar
========================================-->
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="#">
                    <img alt="" src="images/logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="app-links" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right appsLand-links">
                    <li class="visible-xs-block text-center mobile-size-logo">
                        <a href="#home">
                            <img alt="" src="images/logo.png">
                        </a>
                    </li>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#works">How It Works</a></li>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#faq">FAQ</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <a href="https://wa.me/+447514878311?text=Hello" target="_blank"
                        class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink whatsapp-btn header-chat-btn">
                        <span>&nbsp;<i class="fab fa-whatsapp"></i> Chat</span>
                    </a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Header
========================================-->
    <header class="active-navbar appsLand-header custom-shape-1" id="home">
        <div class="app-overlay">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-8">
                            <div class="site-intro-content">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                    Welcome to TaxQ&A-UK:</br>
                                    Your Business Solution Hub
                                </h1>
                                <!-- <p class="lead wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    AI-Powered Tax Insights: Your Reliable Guide to UK Taxation<br>
                                    Unlock the Power of AI for Accurate UK Tax Advice
                                </p> -->
                                <ul class="list-inline list-unstyled header-links">
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                        <a href="https://wa.me/+447514878311?text=Hello" target="_blank"
                                            class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink whatsapp-btn">
                                            <span>&nbsp;<i class="fab fa-whatsapp"></i> Chat</span>
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                        <a href="#contact"
                                            class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink">
                                            <span><i class="fa-solid fa-gears"></i> How it works</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row appInfo-row header-description">
                                <div class="col-md-12">
                                    <div class="appInfo-data wow fadeInUp" data-wow-duration="1s"
                                        data-wow-delay="0.25s">
                                        <p>
                                            Welcome to TaxQ&A-UK - your trusted source for expert tax advice. Our
                                            intelligent chatbot uses the power of AI to provide quick and accurate
                                            answers to all your UK tax, UK legal, UK HR, IT, marketing and business
                                            questions.
                                            </br>
                                            Try us out for free for 48 hours and see how easy it is to get the
                                            information you need to succeed.
                                            </br>
                                            Let us help you navigate the complexities of tax and business law so you can
                                            focus on what you do best - running your business.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1 col-md-4 hidden-xs hidden-sm">
                            <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <img alt="" src="images/mockups/02.png" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content
========================================-->
    <main class="entry-main">

        <!-- Mini Feature Section
    ========================================-->
        <section class="mini-feature__style-2 section-without-title">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        How it Works
                    </h2>
                    <span><span></span></span>
                </div>
                <ul class="infoGraphic">
                    <li>
                        <div class="numberWrap">
                            <div class="number fontColor1">1</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="icon fa-brands fa-whatsapp"></i>
                            <p>Click on the Whatsapp/chat button to open a chat window</p>
                        </div>
                    </li>
                    <li>
                        <div class="numberWrap">
                            <div class="number fontColor2">2</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="icon fa-solid fa-question"></i>
                            <p>
                                Converse with your assistant, ask any question
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="numberWrap">
                            <div class="number  fontColor3">3</div>
                            <div class="coverWrap">
                                <div class="numberCover"></div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="icon fa-regular fa-clock"></i>
                            <p>Subscribe after 48 hours to continue with your assistant</p>
                        </div>
                    </li>
                </ul>
                <!-- <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/01.png">
                                <img alt="" src="images/flat-icons/01.png">
                            </div>
                            <div class="data-box">
                                <h3>Reliable</h3>
                                <p>
                                    Trustworthy and accurate tax information delivered through AI-powered insights.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/02.png">
                                <img alt="" src="images/flat-icons/02.png">
                            </div>
                            <div class="data-box">
                                <h3>Accessible</h3>
                                <p>
                                    Easily accessible platform for anyone seeking tax guidance in the UK.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/03.png">
                                <img alt="" src="images/flat-icons/03.png">
                            </div>
                            <div class="data-box">
                                <h3>Comprehensive</h3>
                                <p>
                                    A wide-ranging collection of tax topics and resources catered to diverse needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/04.png">
                                <img alt="" src="images/flat-icons/04.png">
                            </div>
                            <div class="data-box">
                                <h3>Timely</h3>
                                <p>
                                    Up-to-date information reflecting the latest tax laws and regulations in the UK.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/05.png">
                                <img alt="" src="images/flat-icons/05.png">
                            </div>
                            <div class="data-box">
                                <h3>Personalized</h3>
                                <p>
                                    Tailored tax recommendations based on your individual circumstances.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="mini-feature-box">
                            <div class="icon-box">
                                <img alt="" src="images/flat-icons/06.png">
                                <img alt="" src="images/flat-icons/06.png">
                            </div>
                            <div class="data-box">
                                <h3>Secure</h3>
                                <p>
                                    Ensuring the confidentiality and privacy of user data throughout the platform.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>

        <!-- ScreenShots Section
    ========================================-->
        <!-- <section class="screenShots" id="screenShots">
            <div>
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        ScreenShots
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="app-screen">
                    <div class="mobile-mockup text-center">
                        <img alt="" src="images/mobile__.png">
                    </div>
                    <div class="swiper-container wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/01.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/02.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/03.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/04.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/05.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/06.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/07.jpg" class="img-responsive">
                            </div>
                            <div class="swiper-slide">
                                <img alt="" src="images/slider/08.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="custom_slider_arrows">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <button class="appsLand-btn appsLand-btn-gradient screenShots__style-1__btn-prev">
                                        <span><i class="fa fa-angle-left"></i></span>
                                    </button>
                                </li>
                                <li>
                                    <button class="appsLand-btn appsLand-btn-gradient screenShots__style-1__btn-next">
                                        <span><i class="fa fa-angle-right"></i></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Features Section
    ========================================-->
        <section class="features" id="works">
            <div class="container">
                <!-- <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        Feature
                    </h2>
                    <span><span></span></span>
                </div> -->
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-7">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <p>
                                    We offer a 48-hour free trial period, giving you access to our chatbot powered by
                                    advanced AI technology. During this time, you can ask as many questions as you'd
                                    like and receive detailed answers generated by our state-of-the-art system.
                                    <br>
                                    Take advantage of this opportunity to see how our service can benefit you and your
                                    business.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/images/slider/Picture2.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture3.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-5">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/images/slider/Picture5.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture6.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture7.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <h2>Explore a Range of Topics with Our Expertise:</h2>
                                <br>
                                <ul>
                                    <li>UK Tax</li>
                                    <li>Legal Advice</li>
                                    <li>HR Management</li>
                                    <li>IT Support</li>
                                    <li>Marketing Strategies</li>
                                    <li>Business Planning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-7">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <p>
                                    Our website utilizes cutting-edge AI technology to provide quick and accurate
                                    answers to your tax, legal, HR, IT, marketing, and business questions. Our chatbot
                                    is powered by ChatGPT, a state-of-the-art language model that is constantly learning
                                    and improving its responses based on user interactions. With our AI technology, you
                                    can be sure that you're receiving the most up-to-date and relevant information to
                                    help you make informed decisions for your business.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/images/slider/Picture8.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture9.png">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture10.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Download Section
    ========================================-->
        <section class="download section-bg-img" id="benefits">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            Benefits of using our website
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="download-buttons">
                        <section id="features">
                            <div class="grid">
                                <i class="fas fa-stopwatch"></i>
                                <div class="desc">
                                    <h2>Save time</h2>
                                    <p>
                                        Get quick and accurate answers to your tax, legal, HR, IT, marketing, and
                                        business questions.
                                    </p>
                                </div>
                            </div>
                            <div class="grid">
                                <i class="fas fa-money-bill-wave"></i>
                                <div class="desc">
                                    <h2>Save money</h2>
                                    <p>
                                        Avoid costly consultations and get the information you need at an affordable
                                        price.
                                    </p>
                                </div>
                            </div>
                            <div class="grid">
                                <i class="fas fa-headset"></i>
                                <div class="desc">
                                    <h2>Expertise at your fingertips</h2>
                                    <p>Access to a wealth of knowledge and expertise, accessible at any time, from
                                        anywhere.</p>
                                </div>
                            </div>
                            <div class="grid">
                                <i class="fas fa-paint-brush"></i>
                                <div class="desc">
                                    <h2>Personalised</h2>
                                    <p>
                                        Tailored business advice based on your individual circumstances.
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section id="features">
                            <div class="grid">
                                <i class="fas fa-biking"></i>
                                <div class="desc">
                                    <h2>Easy to use</h2>
                                    <p>Our user-friendly interface makes it simple to ask questions and get answers.</p>
                                </div>
                            </div>
                            <div class="grid">
                                <i class="fas fa-calendar-alt"></i>
                                <div class="desc">
                                    <h2>Stay up-to-date</h2>
                                    <p>Stay informed with the latest changes in UK tax, HR and legal regulations.
                                    </p>
                                </div>
                            </div>
                            <div class="grid">
                                <i class="fa-solid fa-key"></i>
                                <div class="desc">
                                    <h2>Confidential and secure</h2>
                                    <p>
                                        Your information is kept confidential and secure, giving you peace of mind.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Pricing Section
    ========================================-->
        <section class="features" id="works">
            <div class="container">
                <div class="appInfo-container">
                    <div class="row appInfo-row">
                        <div class="col-md-6 col-sm-7">
                            <div class="appInfo-data wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <p>
                                    After your free 48-hour trial, our service is available for either £5 a week or £15
                                    per month. This fee gives you unlimited access to our AI-powered tax, legal, HR, IT,
                                    Marketing, and business advice service. There is no tie in contract and therefore it
                                    is cancellable at any time.
                                    <br>
                                    With our low fees, you can get the answers you need without breaking the bank.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <div class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="/images/slider/Picture2.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture3.jpg">
                                    </div>
                                    <div class="item">
                                        <img src="/images/slider/Picture4.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pricing" id="pricing">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        Pricing
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="pricing-tables">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-table wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="pricing-price">
                                    <p>
                                        <span class="sup">£</span>
                                        <span class="price">5</span>
                                        <span class="sub">/Week</span>
                                    </p>
                                    <a href="#" class="appsLand-btn appsLand-btn-gradient btn-inverse btn-padding" data-toggle="modal" data-target="#myModal"><span>Subscribe
                                            Now</span></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                            <div class="pricing-table wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="pricing-price">
                                    <p>
                                        <span class="sup">£</span>
                                        <span class="price">15</span>
                                        <span class="sub">/Month</span>
                                    </p>
                                    <a href="#"
                                        class="appsLand-btn appsLand-btn-gradient btn-inverse btn-padding"><span>Subscribe
                                            Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-tables">
                    <div class="row justify-content-center">
                        <div class="col-md-8 pricing-text">
                            <p>Ready to gain unlimited access to our expert knowledge base? Click here to subscribe for
                                just £5 per week and take control of your tax, legal, and business needs today!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials Section
    ========================================-->
        <!-- <section class="testimonials section-bg-img" id="faq">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            Testimonials
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="testimonials-template">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="testimonials-slider-container wow fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="0.25s">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide testimonials-slide">
                                            <div class="row table-row">
                                                <div class="col-lg-3 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="" src="images/clients/01.jpg"
                                                                class="center-block">
                                                        </div>
                                                        <h4 class="client-name">John Doe</h4>
                                                        <p class="client-career">Web designer</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Accusamus commodi eaque earum facere ipsa minus nemo numquam
                                                            provident quod sed, soluta tempore velit. Doloribus dolorum
                                                            ducimus obcaecati optio quasi tenetur, consectetur
                                                            adipisicing elit. Accusamus aliquam dolorum, eum eveniet
                                                            fugiat minus nesciunt nostrum odit optio, pariatur possimus
                                                            quam quas quasi, quia quo velit veritatis. Earum, eum!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonials-slide">
                                            <div class="row table-row">
                                                <div class="col-lg-3 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="" src="images/clients/02.jpg"
                                                                class="center-block">
                                                        </div>
                                                        <h4 class="client-name">Sam Alien</h4>
                                                        <p class="client-career">SEO Specialist</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Accusamus commodi eaque earum facere ipsa minus nemo numquam
                                                            provident quod sed, soluta tempore velit. Doloribus dolorum
                                                            ducimus obcaecati optio quasi tenetur, consectetur
                                                            adipisicing elit. Accusamus aliquam dolorum, eum eveniet
                                                            fugiat minus nesciunt nostrum odit optio, pariatur possimus
                                                            quam quas quasi, quia quo velit veritatis. Earum, eum!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide testimonials-slide">
                                            <div class="row table-row">
                                                <div class="col-lg-3 col-left table-cel">
                                                    <div class="client-info text-center">
                                                        <div class="client-pic">
                                                            <img alt="" src="images/clients/03.jpg"
                                                                class="center-block">
                                                        </div>
                                                        <h4 class="client-name">Raul John</h4>
                                                        <p class="client-career">Back End</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-9 col-right table-cel">
                                                    <div class="client-review">
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Accusamus commodi eaque earum facere ipsa minus nemo numquam
                                                            provident quod sed, soluta tempore velit. Doloribus dolorum
                                                            ducimus obcaecati optio quasi tenetur, consectetur
                                                            adipisicing elit. Accusamus aliquam dolorum, eum eveniet
                                                            fugiat minus nesciunt nostrum odit optio, pariatur possimus
                                                            quam quas quasi, quia quo velit veritatis. Earum, eum!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="testimonials-slider-button-prev swiper-button-prev"></div>
                                    <div class="testimonials-slider-button-next swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Team Section
    ========================================-->
        <!-- <section class="team__style-2">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        Our Team
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                            <div class="team-member-content">
                                <div class="member-pic">
                                    <img alt="" src="images/team/01.jpg" class="img-responsive">
                                </div>
                                <div class="member-info">
                                    <div class="info-content">
                                        <div class="name-career">
                                            <h4>John Doe</h4>
                                            <span>Founder & CEO</span>
                                        </div>
                                        <ul class="list-inline list-unstyled member-social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="team-member-content">
                                <div class="member-pic">
                                    <img alt="" src="images/team/02.jpg" class="img-responsive">
                                </div>
                                <div class="member-info">
                                    <div class="info-content">
                                        <div class="name-career">
                                            <h4>Sam Alien</h4>
                                            <span>SEO Specialist</span>
                                        </div>
                                        <ul class="list-inline list-unstyled member-social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                            <div class="team-member-content">
                                <div class="member-pic">
                                    <img alt="" src="images/team/03.jpg" class="img-responsive">
                                </div>
                                <div class="member-info">
                                    <div class="info-content">
                                        <div class="name-career">
                                            <h4>Jane Smith</h4>
                                            <span>Front End</span>
                                        </div>
                                        <ul class="list-inline list-unstyled member-social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="team-member wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="team-member-content">
                                <div class="member-pic">
                                    <img alt="" src="images/team/05.jpg" class="img-responsive">
                                </div>
                                <div class="member-info">
                                    <div class="info-content">
                                        <div class="name-career">
                                            <h4>Karo Mace</h4>
                                            <span>Back End</span>
                                        </div>
                                        <ul class="list-inline list-unstyled member-social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-behance"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Video Section
    ========================================-->
        <!-- <section class="video section-bg-img">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient wow fadeInUp white-color" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            watch our video
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="play-video-icon wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <a href="http://m.youtube.com/watch?v=XSGBVzeBUbk" data-lity="">
                            <img alt="" src="images/icon-14.png">
                        </a>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- FAQ Section
    ========================================-->
        <section class="faq" id="faq">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        FAQ
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="panel-group questions-container" id="accordion" role="tablist"
                            aria-multiselectable="true">
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>What is your website and how does it work?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>
                                            Our chatbot uses natural language processing (NLP) to understand your
                                            questions and provide accurate answers.
                                            <br>
                                            You can ask any questions on topics such as UK tax, legal, HR, IT, Marketing
                                            or business and our AI-powered system will generate the answer for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <span>Is the information provided by your website reliable?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>
                                            Our website utilizes state-of-the-art AI technology powered by chat GPT to
                                            provide accurate and reliable information. The AI bot is trained on a vast
                                            amount of data from credible sources, ensuring that the responses are based
                                            on up-to-date and trustworthy information.
                                            <br>
                                            We continuously update and train our AI bot to stay current with the latest
                                            developments and changes in business topics, including UK Tax, UK Human
                                            Resources, IT, marketing, and more. This ensures that the information
                                            provided is aligned with the most recent industry practices and regulations.
                                            <br>
                                            While we strive to offer accurate and valuable insights, it's important to
                                            note that the information provided by our AI bot is for general
                                            informational purposes only. We strongly recommend seeking professional
                                            advice from qualified experts or consulting relevant official sources for
                                            specific and personalized guidance regarding your unique business
                                            circumstances.
                                            <br>
                                            We value user feedback and continuously monitor and improve our AI bot's
                                            performance based on user experiences. Positive user ratings and
                                            testimonials further validate the reliability and effectiveness of our
                                            service.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span> Is there a charge to use your website?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>
                                            We offer a free 48-hour trial period during which you can access our service
                                            for free and ask as many questions as you like. After the trial period, we
                                            charge a weekly fee of £5 or monthly fee of £15.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span>How accurate are the answers provided by the chatbot?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>
                                            Our chatbot is powered by state-of-the-art AI technology, and we constantly
                                            work to improve its accuracy. Providing as much detail and context as
                                            possible yields to the most comprehensive answers.
                                            <br>
                                            However, please note that the information provided is for general guidance
                                            only and should not be relied upon as professional advice. Users should
                                            always consult with a qualified professional for specific advice on tax,
                                            legal, or other matters.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span>What if I'm not satisfied with the answer provided by the
                                                chatbot?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>
                                            If you're not satisfied with the answer provided by the chatbot, you can ask
                                            a follow-up question and please provide as much detail as possible
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" onclick="location='/questions'" name="submit_contact_form"
                                class="appsLand-btn appsLand-btn-gradient btn">
                                <span>See All</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Statistics Section
    ========================================-->
        <!-- <section class="statistics section-without-title section-bg-img">
            <div class="app-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="stats-icon">
                                    <i class="fa fa-download"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="2750" data-speed="6000">0</p>
                                    <h5>Download</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="stats-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="1000" data-speed="6000">0</p>
                                    <h5>Rate</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="stats-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="2200" data-speed="6000">0</p>
                                    <h5>Happy Client</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                <div class="stats-icon">
                                    <i class="fa fa-support"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="900" data-speed="6000">0</p>
                                    <h5>Customer Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Blog Section
    ========================================-->
        <!-- <section class="blog" id="blog">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        Last News
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="posts">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <article class="normal-post wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img alt="" src="images/blog/01.jpg" class="img-responsive">
                                        </div>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p class="posted-on"><span>7</span> Dec</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                                                consectetur distinctio dolorum ea facilis non repellendus velit voluptas
                                                voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae
                                                voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <article class="normal-post wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img alt="" src="images/blog/02.jpg" class="img-responsive">
                                        </div>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p class="posted-on"><span>27</span> Dec</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                                                consectetur distinctio dolorum ea facilis non repellendus velit voluptas
                                                voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae
                                                voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Contact Section
    ========================================-->
        <section class="contact contact__style-2 section-bg-img" id="contact">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            Contact Us
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="contact-form wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="row">
                            <div class="col-md-4 col-lg-push-8 col-md-push-8">
                                <div class="contact-info">
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-phone white-color"></i>
                                        </div>
                                        <h5>Phone Number</h5>
                                        <p>
                                            +2 011 111 2222
                                        </p>
                                    </div>
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-envelope-o white-color"></i>
                                        </div>
                                        <h5>Email Address</h5>
                                        <p>
                                            info@mrkayo.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-pull-4 col-md-pull-4">
                                <form action="https://hinata.karemtarek.com/php/sendMessage.php" method="post"
                                    id="contact_form">
                                    <div class="form-group">
                                        <input type="text" name="full_name" class="form-control" placeholder="Full Name"
                                            data-nameValidation>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="Email"
                                            data-emailValidation>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Your Message"
                                            data-messageValidation></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit_contact_form"
                                            class="appsLand-btn appsLand-btn-gradient btn-inverse btn"><span><i
                                                    class="fa fa-send"></i> Send Message</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe Section
    ========================================-->
        <!-- <section class="subscribe">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        News letter
                    </h2>
                    <span><span></span></span>
                </div>
                <form id="mc-form" class="en-form">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="custom-input-group wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <input id="mc-email" type="email" class="form-control" placeholder="Email">
                                <button
                                    class="appsLand-btn appsLand-btn-gradient subscribe-btn"><span>Subscribe</span></button>
                                <div class="clearfix"></div>
                            </div>
                            <label for="mc-email"></label>
                        </div>
                    </div>
                </form>
            </div>
        </section> -->
    </main>

    <!-- Scroll To Top
========================================-->
    <div class="scrollToTop appsLand-btn appsLand-btn-gradient"><span><i class="fa fa-angle-up"></i></span></div>

    <!-- Loading
========================================-->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Footer
========================================-->
    <footer class="apps-footer">
        <div class="footer-top">
            <div class="container">
                <div class="apps-short-info">
                    <a href="#">
                        <img alt="" src="images/logo-2.png">
                    </a>
                </div>
                <ul class="list-inline list-unstyled footer-social-links">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>All Rights Reserved © 2022 <a href="https://mrkayo.com/">TAXQ&AUK</a></p>
                <p style="flex: auto;"></p>
                <p><a href="/terms-and-conditions">Terms and conditions</a> | <a href="/privacy-policy">Privacy Policy</a></p>
            </div>
        </div>
    </footer>


    <!-- Payment Modal -->

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Enter your Details</h4>
            </div>
            <div class="modal-body">
                <div class="account-details-form">   
                    <div class="single-input-item">
                        <label for="first-name" class="required">Name</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Enter Name">
                    </div>
                    <div class="single-input-item">
                        <label for="display-name" class="required">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Enter Email">
                    </div>
                    <div class="single-input-item">
                        <label for="display-name" class="required">Phone</label>
                        <input class="form-control" type="phone" id="email" name="phone" placeholder="Enter Phone Number">
                    </div>
                    <div class="single-input-item" hidden>
                        <input id="paymentAmount" class="form-control" type="text" name="total" placeholder="amount">
                    </div>
                    <div class="single-input-item">
                        <label for="email" class="required">Card Number</label>
                        <div id="card-element" class="form-control p-2 h-10"></div>
                    </div>
                    <div class="single-input-item">
                        <div id="card-errors" role="alert"></div>
                    </div>                                                                    
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="appsLand-btn appsLand-btn-gradient" id="stripeBtn" type="submit"><span>Pay</span></button>
            </div>
          </div>
          
        </div>
      </div>

    <!-- start the script -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.countTo.min.js"></script>
    <script src="js/lity.min.js"></script>

    <script src="js/plugins.js"></script>

    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.ajaxchimp.langs.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/main.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    //   const stripe = Stripe('pk_live_51LFh3eLtNEjdr8jnw7cEZLkfb3S6DOOjbgeiHvA5XUgjY1sdBkDzUtlU7vgwrXCEyJYr3fcT27s11228lezMwkWg001B6LMinx'); // Your Publishable Key
      const stripe = Stripe('pk_test_51LFh3eLtNEjdr8jnwRnmoK5N94zyeXwaxY4BkKrv1m7VA0zGTdXtbu4UCIYSpHbLCv6Aa2pH3w7IlDy3C42Hl1zy006YgUCh08'); // Your Publishable Key
      const elements = stripe.elements();

      // Create our card inputs
      var style = {
        base: {
          color: "black"
        }
      };

      const card = elements.create('card', { style });
      card.mount('#card-element');

      const form = document.querySelector('.paymentForm');
      const errorEl = document.querySelector('#card-errors');

      // Give our token to our form
      const stripeTokenHandler = token => {
        const hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        form.submit();
      }

      // Create token from card data
      form.addEventListener('submit', e => {
        e.preventDefault();
        var img = document.getElementById("img")
        img.style.display = 'block'
        stripe.createToken(card).then(res => {
          if (res.error){
            var img = document.getElementById("img")
            img.style.display = 'none'
            errorEl.textContent = res.error.message;
          } 
          else stripeTokenHandler(res.token);
        })
      })
    </script>
    <!-- end the script -->
</body>

</html>