<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAX Q&A UK</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="app.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="5"
    class="scrollspy-example without_bg_images">

    <!-- navbar
========================================-->
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="#">
                    <img alt="" src="images/logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="app-links" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right appsLand-links">
                    <li class="visible-xs-block text-center mobile-size-logo">
                        <a href="/#home">
                            <img alt="" src="images/logo.png">
                        </a>
                    </li>
                    <li><a href="/#home">Home</a></li>
                    <li><a href="/#works">How It Works</a></li>
                    <li><a href="/#benefits">Benefits</a></li>
                    <li><a href="/#pricing">Pricing</a></li>
                    <li><a href="/#faq">FAQ</a></li>
                    <li><a href="/#contact">Contact</a></li>
                    <a href="https://wa.me/+923043600997?text=Hello" target="_blank"
                        class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink whatsapp-btn header-chat-btn">
                        <span>&nbsp;<i class="fab fa-whatsapp"></i> Chat</span>
                    </a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Header
========================================-->
    <header class="active-navbar appsLand-header custom-shape-1" id="home">
        <div class="app-overlay">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-8">
                            <div class="site-intro-content">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                    Terms and Conditions
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content
========================================-->
    <main class="entry-main">
        <!-- FAQ Section
    ========================================-->
        <section class="terms">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <strong><u>Privacy Policy</u></strong></p>
                        <p>&nbsp;</p>
                        <p>TaxQ&AUK ("we" or "us") is committed to protecting your privacy. This Privacy Policy
                            describes how we collect, use, and disclose information about you when you use our website
                            and services. By using our website and services, you acknowledge and agree to the practices
                            described in this Privacy Policy.</p>
                        <p>&nbsp;</p>
                        <p><strong>Information We Collect</strong></p>
                        <p>When you use our website and services, we may collect the following information:</p>
                        <p>&nbsp;</p>
                        <p>Personal Information: This includes your name, email address, IP address, and any other
                            information you provide to our AI bot.</p>
                        <p>&nbsp;</p>
                        <p>Device Information: We may collect information about the device you use to access our
                            website, such as the type of device, operating system, and browser.</p>
                        <p>Usage Information: We gather information about your interaction with our website and
                            services, including the pages you visit, the duration of your visit, and the actions you
                            take.</p>
                        <p>&nbsp;</p>
                        <p><strong>How We Use Information</strong></p>
                        <p>We use the collected information for the following purposes:</p>
                        <p>&nbsp;</p>
                        <p>Providing and improving our services: We use the information to deliver the services you
                            request and to enhance your user experience.</p>
                        <p>Communication: We may communicate with you to respond to your inquiries, provide updates
                            about our services, and send promotional materials.</p>
                        <p>Personalization: We may use the information to personalize your experience and deliver
                            tailored content, recommendations, and advertisements.</p>
                        <p>&nbsp;</p>
                        <p><strong>Information Sharing</strong></p>
                        <p>We may share your information with third parties in the following circumstances:</p>
                        <p>&nbsp;</p>
                        <p>Service Providers: We engage trusted service providers to assist us in delivering our
                            services, and they may have access to your information for that purpose.</p>
                        <p>Legal Compliance: We may disclose your information if required by law or to protect our
                            rights, safety, or property, or the rights, safety, or property of others.</p>
                        <p>Business Transfers: In the event of a merger, acquisition, or sale of assets, your
                            information may be transferred to the acquiring entity.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Cookies and Similar Technologies</strong></p>
                        <p>We use cookies and similar technologies to collect information about your usage of our
                            website. These technologies help us analyse trends, administer the website, track users'
                            movements, and gather demographic information.</p>
                        <p>&nbsp;</p>
                        <p><strong>Data Security</strong></p>
                        <p>We implement reasonable security measures to protect your information from unauthorized
                            access, alteration, disclosure, or destruction. However, no method of transmission over the
                            internet or electronic storage is entirely secure, and we cannot guarantee absolute
                            security.</p>
                        <p>&nbsp;</p>
                        <p><strong>Links to Third-Party Websites</strong></p>
                        <p>Our website may contain links to third-party websites. We do not control or endorse the
                            privacy practices of these websites. We recommend reviewing the privacy policies of any
                            third-party websites you visit.</p>
                        <p>&nbsp;</p>
                        <p><strong>Children's Privacy</strong></p>
                        <p>Our website and services are not intended for individuals under the age of 18. We do not
                            knowingly collect personal information from children. If you believe we have inadvertently
                            collected information from a child, please contact us immediately.</p>
                        <p>&nbsp;</p>
                        <p><strong>Changes to the Privacy Policy</strong></p>
                        <p>We may update this Privacy Policy periodically to reflect changes in our practices or legal
                            requirements. We will notify you of any material changes by posting the revised Privacy
                            Policy on our website or through other communication channels.</p>
                        <p>&nbsp;</p>
                        <p><strong>Contact Us</strong></p>
                        <p>If you have any questions or concerns about our Privacy Policy or our privacy practices,
                            please contact us at [Contact email address].</p>
                        <p>&nbsp;</p>
                        <p>By using our website and services, you consent to the collection, use, and disclosure of your
                            information as described in this Privacy Policy. If you do not agree with this Privacy
                            Policy, please refrain from using our website and services.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section
    ========================================-->
        <section class="contact contact__style-2 section-bg-img" id="contact">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            Contact Us
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="contact-form wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="row">
                            <div class="col-md-4 col-lg-push-8 col-md-push-8">
                                <div class="contact-info">
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-phone white-color"></i>
                                        </div>
                                        <h5>Phone Number</h5>
                                        <p>
                                            +2 011 111 2222
                                        </p>
                                    </div>
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-envelope-o white-color"></i>
                                        </div>
                                        <h5>Email Address</h5>
                                        <p>
                                            info@mrkayo.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-pull-4 col-md-pull-4">
                                <form action="https://hinata.karemtarek.com/php/sendMessage.php" method="post"
                                    id="contact_form">
                                    <div class="form-group">
                                        <input type="text" name="full_name" class="form-control" placeholder="Full Name"
                                            data-nameValidation>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="Email"
                                            data-emailValidation>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Your Message"
                                            data-messageValidation></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit_contact_form"
                                            class="appsLand-btn appsLand-btn-gradient btn-inverse btn"><span><i
                                                    class="fa fa-send"></i> Send Message</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Scroll To Top
========================================-->
    <div class="scrollToTop appsLand-btn appsLand-btn-gradient"><span><i class="fa fa-angle-up"></i></span></div>

    <!-- Loading
========================================-->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Footer
========================================-->
<footer class="apps-footer">
    <div class="footer-top">
        <div class="container">
            <div class="apps-short-info">
                <a href="#">
                    <img alt="" src="images/logo-2.png">
                </a>
            </div>
            <ul class="list-inline list-unstyled footer-social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>All Rights Reserved © 2022 <a href="https://mrkayo.com/">TAXQ&AUK</a></p>
            <p style="flex: auto;"></p>
            <p><a href="/terms-and-conditions">Terms and conditions</a> | <a href="/privacy-policy">Privacy Policy</a></p>
        </div>
    </div>
</footer>


    <!-- start the script -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.countTo.min.js"></script>
    <script src="js/lity.min.js"></script>

    <script src="js/plugins.js"></script>

    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.ajaxchimp.langs.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/main.js"></script>
    <!-- end the script -->
</body>

</html>