<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAX Q&A UK</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" href="app.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="5"
    class="scrollspy-example without_bg_images">

    <!-- navbar
========================================-->
    <nav class="navbar navbar-default navbar-fixed-top appsLand-navbar navBar__style-2">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="menu-toggle">
                    <i class="chart"></i>
                    <i class="chart"></i>
                    <i class="chart"></i>
                </span>
                <a class="navbar-brand" href="/#home">
                    <img alt="" src="images/logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="app-links" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right appsLand-links">
                    <li class="visible-xs-block text-center mobile-size-logo">
                        <a href="/#home">
                            <img alt="" src="images/logo.png">
                        </a>
                    </li>
                    <li><a href="/#home">Home</a></li>
                    <li><a href="/#works">How It Works</a></li>
                    <li><a href="/#benefits">Benefits</a></li>
                    <li><a href="/#pricing">Pricing</a></li>
                    <li><a href="/#faq">FAQ</a></li>
                    <li><a href="/#contact">Contact</a></li>
                    <a href="https://wa.me/+923043600997?text=Hello" target="_blank"
                        class="appsLand-btn appsLand-btn-gradient btn-inverse scrollLink whatsapp-btn header-chat-btn">
                        <span>&nbsp;<i class="fab fa-whatsapp"></i> Chat</span>
                    </a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Header
========================================-->
    <header class="active-navbar appsLand-header custom-shape-1" id="home">
        <div class="app-overlay">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-8">
                            <div class="site-intro-content">
                                <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                    Frequently Asked Questions
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content
========================================-->
    <main class="entry-main">
        <!-- FAQ Section
    ========================================-->
        <section class="faq">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="panel-group questions-container" id="accordion" role="tablist"
                            aria-multiselectable="true">
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFive" aria-expanded="true"
                                            aria-controls="collapseThree">
                                            <span>What types of businesses would find this service useful?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>
                                            Our service is designed to be useful for a wide range of businesses across
                                            various industries. Here are some examples:
                                            <br>
                                            <br>
                                            <b>Small and Medium-sized Enterprises (SMEs):</b> If you run a small or
                                            medium-sized business and don't have in-house legal, tax, or HR departments,
                                            our service can provide you with valuable information and guidance on
                                            various business topics.
                                            <br>
                                            <br>
                                            <b>Startups and Entrepreneurs:</b> If you're starting a new business or are
                                            an
                                            entrepreneur, our service can help you gain insights and guidance on
                                            important matters like compliance, contracts, intellectual property, and
                                            more.
                                            <br>
                                            <br>
                                            <b>Consulting Firms:</b> Consulting firms can benefit from our service by
                                            expanding
                                            their knowledge base and providing quick and accurate answers to client
                                            queries on legal, tax, and HR topics.
                                            <br>
                                            <br>
                                            <b>Freelancers and Independent Contractors:</b> As a self-employed
                                            professional,
                                            you may handle various aspects of your business on your own. Our service can
                                            assist you with legal and tax obligations, contract negotiations, and other
                                            relevant topics.
                                            <br>
                                            <br>
                                            <b>E-commerce Businesses:</b> Online businesses face unique legal and
                                            regulatory
                                            challenges. Our service can help you understand and comply with requirements
                                            related to data protection, privacy, and consumer rights.
                                            <br>
                                            <br>
                                            <b>International Businesses:</b> If your business operates internationally,
                                            you can
                                            rely on our service for guidance on cross-border transactions, international
                                            tax regulations, and business customs in specific countries.
                                            <br>
                                            <br>
                                            <b>Creative and Media Agencies:</b> Advertising, marketing, and media
                                            agencies can
                                            benefit from insights into intellectual property rights, contract
                                            negotiations, and compliance in their industry.
                                            <br>
                                            <br>
                                            <b>Retail and Hospitality:</b> Businesses in the retail and hospitality
                                            sectors can
                                            receive guidance on tax requirements, employment regulations, and customer
                                            safety standards.
                                            <br>
                                            <br>
                                            <b>Health and Wellness:</b> Businesses in the health and wellness industry
                                            can find
                                            information on regulatory compliance, privacy laws, and professional
                                            standards.
                                            <br>
                                            <br>
                                            <b>Real Estate and Property Management:</b> Real estate agencies, property
                                            managers, and landlords can access legal advice on rental agreements,
                                            property laws, and tenant rights.
                                            <br>
                                            <br>
                                            These are just a few examples. Our service is designed to be valuable for
                                            businesses of all sizes and industries, providing reliable and accessible
                                            information on a wide range of business topics.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            <span>What is your website and how does it work?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>
                                            Our chatbot uses natural language processing (NLP) to understand your
                                            questions and provide accurate answers.
                                            <br>
                                            You can ask any questions on topics such as Uk Tax & Accounting, legal, HR,
                                            IT, Marketing
                                            or business and our AI-powered system will generate the answer for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <span>Is the information provided by your website reliable?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>
                                            Our website utilizes state-of-the-art AI technology powered by chat GPT to
                                            provide accurate and reliable information. The AI bot is trained on a vast
                                            amount of data from credible sources, ensuring that the responses are based
                                            on up-to-date and trustworthy information.
                                            <br>
                                            We continuously update and train our AI bot to stay current with the latest
                                            developments and changes in business topics, including Uk Tax & Accounting,
                                            UK Human
                                            Resources, IT, marketing, and more. This ensures that the information
                                            provided is aligned with the most recent industry practices and regulations.
                                            <br>
                                            While we strive to offer accurate and valuable insights, it's important to
                                            note that the information provided by our AI bot is for general
                                            informational purposes only. We strongly recommend seeking professional
                                            advice from qualified experts or consulting relevant official sources for
                                            specific and personalized guidance regarding your unique business
                                            circumstances.
                                            <br>
                                            We value user feedback and continuously monitor and improve our AI bot's
                                            performance based on user experiences. Positive user ratings and
                                            testimonials further validate the reliability and effectiveness of our
                                            service.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span> Is there a charge to use your website?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>
                                            We offer a free 48-hour trial period during which you can access our service
                                            for free and ask as many questions as you like. After the trial period, we
                                            charge a weekly fee of £5 or monthly fee of £15.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span>How accurate are the answers provided by the chatbot?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <p>
                                            Our chatbot is powered by state-of-the-art AI technology, and we constantly
                                            work to improve its accuracy. Providing as much detail and context as
                                            possible yields to the most comprehensive answers.
                                            <br>
                                            However, please note that the information provided is for general guidance
                                            only and should not be relied upon as professional advice. Users should
                                            always consult with a qualified professional for specific advice on tax,
                                            legal, or other matters.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                            aria-controls="collapseSix">
                                            <span>What if I'm not satisfied with the answer provided by the bot?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <p>
                                            If you're not satisfied with the answer provided by the chatbot, you can ask
                                            a follow-up question and please provide as much detail as possible
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">
                                            <span>Is my personal information safe with your website?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <p>
                                            Yes, we take data privacy and security very seriously. Your personal
                                            information is kept confidential and protected according to industry
                                            standards.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                                            aria-controls="collapseEight">
                                            <span>Can I cancel my subscription at any time?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingEight">
                                    <div class="panel-body">
                                        <p>
                                            Yes, you can cancel your subscription at any time by logging into your
                                            account and following the instructions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingNine">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseNine" aria-expanded="false"
                                            aria-controls="collapseNine">
                                            <span>Can I use your bot for my business?</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingNine">
                                    <div class="panel-body">
                                        <p>
                                            Yes, our chatbot is designed to help businesses of all types and sizes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="headingTen">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapseTen" aria-expanded="false"
                                            aria-controls="collapseTen">
                                            <span>Why does our bot sometimes provide incomplete answers?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="headingTen">
                                    <div class="panel-body">
                                        <p>
                                            Our bot's responses are generated based on the information available in its
                                            database, which may not always be comprehensive or relevant to your
                                            question. In such cases, our bot will provide the most relevant answer it
                                            can, and you can ask for more information if needed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading11">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse11" aria-expanded="false"
                                            aria-controls="collapse11">
                                            <span>How can I ask our bot to continue with its response?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse11" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading11">
                                    <div class="panel-body">
                                        <p>
                                            If our bot's response is incomplete, you can ask for more information by
                                            using follow-up questions or phrases such as "Can you provide more details?"
                                            or "What else can you tell me?"
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading12">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse12" aria-expanded="false"
                                            aria-controls="collapse12">
                                            <span>Are my conversations with the bot confidential?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse12" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading12">
                                    <div class="panel-body">
                                        <p>
                                            We priorities the privacy and confidentiality of your conversations. Your
                                            interactions with the Bot are treated with strict confidentiality and are
                                            not shared with any third parties unless required by law or with your
                                            explicit consent. Please refer to our Privacy Policy for more details.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading13">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse13" aria-expanded="false"
                                            aria-controls="collapse13">
                                            <span>How frequently is the bot updated with new information?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse13" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading13">
                                    <div class="panel-body">
                                        <p>
                                            The bot undergoes regular updates to ensure it has access to the latest
                                            information. However, the frequency of updates may vary depending on the
                                            availability of new data and developments in relevant fields. It is
                                            advisable to consult official sources or professionals for the most current
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading14">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse14" aria-expanded="false"
                                            aria-controls="collapse14">
                                            <span>How frequently is the bot updated with new information?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse14" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading14">
                                    <div class="panel-body">
                                        <p>
                                            The Bot undergoes regular updates to ensure it has access to the latest
                                            information. However, the frequency of updates may vary depending on the
                                            availability of new data and developments in relevant fields. It is
                                            advisable to consult official sources or professionals for the most current
                                            information.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading15">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse15" aria-expanded="false"
                                            aria-controls="collapse15">
                                            <span>How long does it typically take to receive a response from the bot?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse15" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading15">
                                    <div class="panel-body">
                                        <p>
                                            The bot is designed to provide instant responses to your questions. In most
                                            cases, you will receive a response within seconds or minutes. However,
                                            response times may vary depending on the complexity of the question and
                                            system load. Rest assured, we strive to deliver timely and informative
                                            answers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading16">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse16" aria-expanded="false"
                                            aria-controls="collapse16">
                                            <span>Provide a few examples of how the bot can assist on the topic of UK
                                                Tax & Accounting?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse16" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading16">
                                    <div class="panel-body">
                                        <p>
                                            • <b>Taxation advice</b>: The bot can provide advice on different types of
                                            taxes,
                                            such as income tax, corporation tax, and value-added tax (VAT), including
                                            guidance on how to calculate tax obligations and what tax reliefs are
                                            available.
                                            <br>
                                            • <b>Accounting assistance</b>: The bot can assist with accounting queries,
                                            such as
                                            how to prepare financial statements, manage cash flow, and conduct financial
                                            analysis.
                                            <br>
                                            • <b>Tax planning</b>: The bot can provide guidance on tax planning,
                                            including
                                            advice on how to structure a business to minimize tax liabilities and how to
                                            take advantage of tax incentives.
                                            <br>
                                            • <b>Business structure</b>: The bot can provide advice on the best business
                                            structure for tax and accounting purposes, including guidance on the pros
                                            and cons of different options, such as sole trader, partnership, and limited
                                            company.
                                            <br>
                                            • <b>Tax compliance</b>: The bot can assist with queries related to tax
                                            compliance,
                                            including guidance on tax deadlines, how to file tax returns, and how to
                                            deal with tax disputes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading17">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse17" aria-expanded="false"
                                            aria-controls="collapse17">
                                            <span>Provide a few examples of how the bot can assist on the topic of UK
                                                law?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse17" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading17">
                                    <div class="panel-body">
                                        <p>
                                            • <b>Contract law</b>: The bot can provide guidance on drafting and
                                            reviewing
                                            contracts, including advice on key clauses and provisions that should be
                                            included.
                                            <br>
                                            • <b>Employment law</b>: The bot can assist with queries related to
                                            employment law,
                                            such as employee rights and obligations, the legal requirements around
                                            hiring and firing, and workplace safety and health regulations.
                                            <br>
                                            • <b>Intellectual property law</b>: The bot can provide guidance on
                                            protecting
                                            intellectual property, including advice on registering trademarks and
                                            copyrights, and how to handle infringement claims.
                                            <br>
                                            • <b>GDPR compliance</b>: The bot can assist with queries related to the
                                            General
                                            Data Protection Regulation (GDPR), including advice on data protection
                                            policies, data breach notifications, and individual rights under the
                                            regulation.
                                            <br>
                                            • <b>Commercial law</b>: The bot can provide guidance on a range of
                                            commercial law
                                            topics, including contract disputes, supplier agreements, and regulatory
                                            compliance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading18">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse18" aria-expanded="false"
                                            aria-controls="collapse18">
                                            <span>Provide a few examples of how the bot can assist on the topic of UK
                                                Human Resources (HR)?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse18" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading18">
                                    <div class="panel-body">
                                        <p>
                                            • <b>Employment law</b>: The bot can provide guidance on UK employment law,
                                            including advice on employee rights, employer obligations, and compliance
                                            with relevant legislation.
                                            <br>
                                            • <b>Recruitment</b>: The bot can assist with queries related to the
                                            recruitment
                                            process, including guidance on how to attract and select the best
                                            candidates, and how to conduct interviews and reference checks.
                                            <br>
                                            • <b>Performance management</b>: The bot can provide guidance on managing
                                            employee
                                            performance, including advice on setting goals, conducting performance
                                            reviews, and addressing performance issues.
                                            <br>
                                            • <b>Training and development</b>: The bot can assist with queries related
                                            to
                                            employee training and development, including advice on identifying training
                                            needs, selecting training methods, and evaluating training outcomes.
                                            <br>
                                            • <b>Compensation and benefits</b>: The bot can provide guidance on
                                            compensation and
                                            benefits, including advice on how to design and implement a competitive
                                            compensation package, and how to structure employee benefits such as
                                            pensions and health insurance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading19">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse19" aria-expanded="false"
                                            aria-controls="collapse19">
                                            <span>Provide a few examples of how the bot can assist on the topic of
                                                Marketing/Advertising?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse19" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading19">
                                    <div class="panel-body">
                                        <p>
                                            • <b>Developing a marketing plan</b>: The bot can assist in creating a
                                            marketing
                                            plan, which includes market research, identifying target audience, setting
                                            goals and objectives, and selecting marketing channels.
                                            <br>
                                            • <b>Social media marketing</b>: The bot can provide guidance on how to
                                            leverage
                                            social media platforms to promote a business and engage with customers.
                                            <br>
                                            • <b>Search engine optimization (SEO)</b>: The bot can assist with queries
                                            related
                                            to SEO, including advice on how to optimize a website for search engines and
                                            improve website ranking.
                                            <br>
                                            • <b>Paid advertising</b>: The bot can provide guidance on paid advertising,
                                            including advice on how to select advertising channels, create ad copy, and
                                            measure ad effectiveness.
                                            <br>
                                            • <b>Content marketing</b>: The bot can assist in developing a content
                                            marketing
                                            strategy, including advice on creating valuable content, selecting
                                            distribution channels, and measuring content effectiveness.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="panel-heading" role="tab" id="heading20">
                                    <h4 class="panel-title">
                                        <a class="collapsed gradient-bg" role="button" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse20" aria-expanded="false"
                                            aria-controls="collapse20">
                                            <span>Provide a few examples of how the bot can assist on the topic of
                                                Information Technology (IT)?
                                            </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse20" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading20">
                                    <div class="panel-body">
                                        <p>
                                            • <b>Technical support</b>: The bot can assist with queries related to IT
                                            technical
                                            support, including advice on troubleshooting common software and hardware
                                            issues.
                                            <br>
                                            • <b>Cybersecurity</b>: The bot can provide guidance on cybersecurity best
                                            practices, including advice on how to secure networks, protect against cyber
                                            attacks, and comply with relevant data protection regulations.
                                            <br>
                                            • <b>Software development</b>: The bot can provide guidance on software
                                            development,
                                            including advice on selecting development tools, designing software
                                            architecture, and implementing software testing.
                                            <br>
                                            • <b>Cloud computing</b>: The bot can assist with queries related to cloud
                                            computing, including advice on selecting cloud providers, designing cloud
                                            architecture, and managing cloud deployments.
                                            <br>
                                            • <b>Data analytics</b>: The bot can provide guidance on data analytics,
                                            including
                                            advice on how to collect and analyze data, use data visualization tools, and
                                            interpret data insights.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Statistics Section
    ========================================-->
        <!-- <section class="statistics section-without-title section-bg-img">
            <div class="app-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="stats-icon">
                                    <i class="fa fa-download"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="2750" data-speed="6000">0</p>
                                    <h5>Download</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <div class="stats-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="1000" data-speed="6000">0</p>
                                    <h5>Rate</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="stats-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="2200" data-speed="6000">0</p>
                                    <h5>Happy Client</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="stats wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                <div class="stats-icon">
                                    <i class="fa fa-support"></i>
                                </div>
                                <div class="stats-data">
                                    <p class="timer" data-from="70" data-to="900" data-speed="6000">0</p>
                                    <h5>Customer Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Blog Section
    ========================================-->
        <!-- <section class="blog" id="blog">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        Last News
                    </h2>
                    <span><span></span></span>
                </div>
                <div class="posts">
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <article class="normal-post wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img alt="" src="images/blog/01.jpg" class="img-responsive">
                                        </div>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p class="posted-on"><span>7</span> Dec</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                                                consectetur distinctio dolorum ea facilis non repellendus velit voluptas
                                                voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae
                                                voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <article class="normal-post wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <figure class="entry-header">
                                        <div class="post-image">
                                            <img alt="" src="images/blog/02.jpg" class="img-responsive">
                                        </div>
                                    </figure>
                                    <div class="entry-content">
                                        <div class="entry-post-info">
                                            <h4><a href="#">Normal Post Style</a></h4>
                                            <p class="posted-on"><span>27</span> Dec</p>
                                        </div>
                                        <div class="entry-expert">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
                                                consectetur distinctio dolorum ea facilis non repellendus velit voluptas
                                                voluptates? Accusantium at doloribus eum iste iusto, nam rem repudiandae
                                                voluptates. Inventore.
                                            </p>
                                            <div class="post-readMore">
                                                <a href="#" class="pull-left read-more-link">Read More <i
                                                        class="fa fa-long-arrow-right"></i></a>
                                                <span class="pull-right"><a href="#">1 COMMENT</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="entry-footer">
                                        <ul class="entry-tags list-unstyled list-inline">
                                            <li><a href="#">CSS</a></li>
                                            <li><a href="#">HTML</a></li>
                                            <li><a href="#">WORDPRESS</a></li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- Contact Section
    ========================================-->
        <section class="contact contact__style-2 section-bg-img" id="contact">
            <div class="app-overlay">
                <div class="container">
                    <div class="section-title style-gradient white-color wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <h2>
                            Contact Us
                        </h2>
                        <span><span></span></span>
                    </div>
                    <div class="contact-form wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                        <div class="row">
                            <div class="col-md-4 col-lg-push-8 col-md-push-8">
                                <div class="contact-info">
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-phone white-color"></i>
                                        </div>
                                        <h5>Phone Number</h5>
                                        <p>
                                            +2 011 111 2222
                                        </p>
                                    </div>
                                    <div class="info-box">
                                        <div class="icon-box">
                                            <i class="fa fa-envelope-o white-color"></i>
                                        </div>
                                        <h5>Email Address</h5>
                                        <p>
                                            info@mrkayo.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-pull-4 col-md-pull-4">
                                <form action="https://hinata.karemtarek.com/php/sendMessage.php" method="post"
                                    id="contact_form">
                                    <div class="form-group">
                                        <input type="text" name="full_name" class="form-control" placeholder="Full Name"
                                            data-nameValidation>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="Email"
                                            data-emailValidation>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Your Message"
                                            data-messageValidation></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" name="submit_contact_form"
                                            class="appsLand-btn appsLand-btn-gradient btn-inverse btn"><span><i
                                                    class="fa fa-send"></i> Send Message</span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe Section
    ========================================-->
        <!-- <section class="subscribe">
            <div class="container">
                <div class="section-title style-gradient wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                    <h2>
                        News letter
                    </h2>
                    <span><span></span></span>
                </div>
                <form id="mc-form" class="en-form">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="custom-input-group wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
                                <input id="mc-email" type="email" class="form-control" placeholder="Email">
                                <button
                                    class="appsLand-btn appsLand-btn-gradient subscribe-btn"><span>Subscribe</span></button>
                                <div class="clearfix"></div>
                            </div>
                            <label for="mc-email"></label>
                        </div>
                    </div>
                </form>
            </div>
        </section> -->
    </main>

    <!-- Scroll To Top
========================================-->
    <div class="scrollToTop appsLand-btn appsLand-btn-gradient"><span><i class="fa fa-angle-up"></i></span></div>

    <!-- Loading
========================================-->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Footer
========================================-->
    <footer class="apps-footer">
        <div class="footer-top">
            <div class="container">
                <div class="apps-short-info">
                    <a href="#">
                        <img alt="" src="images/logo-2.png">
                    </a>
                </div>
                <!-- <ul class="list-inline list-unstyled footer-social-links">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
            </ul> -->
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>All Rights Reserved © 2023 <a href="https://mrkayo.com/">TAXQ&AUK</a></p>
                <p style="flex: auto;"></p>
                <p><a href="/terms-and-conditions">Terms and conditions</a> | <a href="/privacy-policy">Privacy
                        Policy</a></p>
            </div>
        </div>
    </footer>

    <!-- start the script -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.jquery.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.countTo.min.js"></script>
    <script src="js/lity.min.js"></script>

    <script src="js/plugins.js"></script>

    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.ajaxchimp.langs.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/main.js"></script>
    <!-- end the script -->
</body>

</html>